/* VARIABLES */

:root{

  //COLORS
  --background_color1:#D5F3FF;
  --background_color2: #51B4E8;
  --card_color1:#E5F2FF;
  --card_color2: #D5F3FF;
  --button_color: #38A0D8;
  --button_color_inside: #53388F;
  --font_color1: #026EED;
  --font_color2: #56A5F1;
  --font_color3: #D5F3FF;
  --font_color4: #FFFFFF;  
  --input_color:#52B5E8;
  --input_font_color: #CDEFFD;
  --input_placeholder_color:  #CDEFFD;
  --input_shadow_color: #7AC5ED;

  //FONTS
  --font_wight_ligth: 300;
  --font_wight_medium: 400;
  --font_wight_bold: 700;

}

//DARK THEME

.dark{
  --background_color1:#53388F;
  --background_color2: #2F2958;
  --card_color1:#5836B3;
  --card_color_1-2:#5936B4;
  --card_color2: #362A84;
  --button_color: #7D69F1;
  --button_color_inside: #51B4E8;
  --font_color1: #FFFFFF; 
  --font_color2: #8D6BED;
  --font_color4: #FFFFFF;
  --input_color: #201F3C;
  --input_font_color: #FFFFFF;
  --input_placeholder_color: #4E4C71;
  --input_shadow_color: #18182E;
}


/* MIXINS */

@mixin responsive ($min_width){
  @media screen and (min-width: $min_width){
    @content;
  }
}

@mixin flex ($direction, $just, $align, $gap){
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}

@mixin grid ($columns, $rows, $c-gap, $r-gap){
  display: grid;
  grid-template-columns: repeat($columns,1fr);
  grid-template-rows: repeat($rows, 1fr);
  column-gap: $c-gap;
  row-gap: $r-gap;
}

@mixin font ($color,$size,$weight){
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

/* LOADER */

.Loader{
  background-color: var(--background_color2);
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  @include flex(column,center ,center ,3em );
  
  &-img--cloud{
    width: 30%;

    @include responsive(1400px){
      width: 10%;
    }
  }

  &-span{
    @include font(var(--font_color4), 2.5em, var(--font_wight_medium));
  }

  &-div{
    background-color: var(--font_color4);
    padding: .5em;
    border-radius: 2em;
    overflow: hidden;
    animation-name: loader;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    justify-self: start;

    @keyframes loader {
      0%{
        width: 0;
      }
    
      100%{
        width: 335px;
      }

    }

    @include responsive(700px){
      @keyframes loader {
        0%{
          width: 0;
        }
      
        100%{
          width: 655px;
        }
      }
    }


  }


  &-img--icons{
    width: 20em;

    @include responsive(700px){
      width: 40em;
    }
  }
}



/* STYLE */

//APP

.App{
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em;
  justify-content: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 6.5em;
  @include responsive(700px){
    gap: 12em;
  }
}

//HEADER

.header{
  @include grid(2,2,0,2em);
  @include responsive(700px){
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;

  }

  &-h1{
    @include font(var(--font_color4), 1.5em, var(--font_wight_medium));
    grid-column: 1/2;
    @include responsive(700px){
      grid-column: 1/2;
      justify-self: center;
    }
    @include responsive(1400px){
      font-size: 2em;
      justify-self: end;
      grid-column: 1/2;
    }
  }


  &-btn{
    background-color: #FFFFFF;
    border-radius: 2em;
    width: 35%;
    max-width: 5em;
    justify-self: end;
    padding: .25em;
    grid-column: 2/3;
    @include responsive(700px){
      grid-column: 3/4;
      justify-self: center;
    }
    @include responsive(1400px){
      justify-self: start;

    }

  }

  &-div{
    width: 1.75em;
    height: 1.75em;
    background-color: var(--button_color_inside);
    border-radius: 50%;
    float: left;

    @include responsive(1400px){
      width: 2em;
      height: 2em;
    }

    &.dark{
      float: right;
    }

  }
    
  &-form{
    grid-column: 1/3;
    position: relative;
    width: 100%;
    max-width: 20.5em;
    justify-self: center;
    align-self: center;
    
    @include responsive(700px){
      grid-row: 1/2;
      grid-column: 2/3;
    }
  }


  &-i{
    color: var(--input_placeholder_color);
    position: absolute;
    bottom: .55em;
    left: .55em;
  }

  &-input{
    background-color: var(--input_color);
    border: none;
    border-radius: .5em;
    color: var(--input_font_color);
    width: 100%;
    padding: .5em 2em;
    font-size: 1em;
    box-shadow: 0px 4px 3px 0px var(--input_shadow_color) inset;


    &::placeholder{
      color: var(--input_placeholder_color);
    }
  }
}

//MAIN

.main{
  @include flex(column, center, center, 0);
}

.main-stop--1{
  stop-color: var(--card_color1);
}

.main-stop--2{
  stop-color: var(--card_color2);
}

.Card-div--container{
  padding: 1em;
  position: relative;
  width: 100%;
  max-width: 20.5em;
  @include responsive(700px){
    max-width:30em ;
    padding: 2em;
  }

  @include responsive(1400px){
    max-width:40em ;
    padding: 3.5em;
  }

}

.Card-svg{
  position: absolute;
  z-index: -1;
  bottom: 0%;
  right: 0%;
  width: 100%;
}

.Card-div--data{
  width: 100%;
  position: relative;
  @include flex(column, center, start, .5em);
  @include responsive(700px){
    gap: 1em;
  }
  @include responsive(1400px){
    gap: 1.5em;
  }
}

.Card-img{
  position: absolute;
  right: -1em;
  top: -3em;
  width: 50%;

  @include responsive(700px){
    width: 65%;
    right: -3em;
    top: -6.5em;
  }

  @include responsive(1400px){
    width: 70%;
    right: -6em;
    top: -10em;
  }

}


.Card-span--grades{
  @include font(var(--font_color1), 3.5em, 300);  
  @include responsive (700px){
    font-size: 4em;
  }
  @include responsive (1400px){
    font-size: 5em;
  }
}

.Card-span--wind,
.Card-span--clouds,
.Card-span--pressure{
  @include font(var(--font_color2), .75em, 700);
  @include responsive (700px){
    font-size: 1.25em;
  }
  @include responsive (1400px){
    font-size: 1.4em;
  }
}

.Card-div--sub{
  width: 100%;
  @include flex(row,space-between,center ,0)
}

.Card-span--city{
  @include font(var(--font_color1), 1.25em, 700);
  @include responsive (700px){
    font-size: 1.5em;
  }
  @include responsive (1400px){
    font-size: 1.75em;
  }
}

.Card-span--description{
  justify-self: stretch;
  text-align: end;
  text-transform: uppercase;
  width: 30%;
  @include font(var(--font_color1),.75em, 700);
  @include responsive (700px){
    font-size: 1em;
  }
  @include responsive (1400px){
    font-size: 1.25em;
  }
}

.main-btn{
  width: 50%;
  max-width: 10.25em;
  height: 2.4em;
  background-color: var(--button_color);
  border-radius: .75em;
  box-shadow: 0 .3em 5px hsla(0, 0%, 0%, 0.25);
  color: var(--font_color4);
  margin-top: 6em;

  @include responsive(700px){
    font-size: 1em;
  };

  @include responsive(1400px){
    font-size: 1.5em;
  };

  &:hover{
    background-color: #56A5F1;
    transform: scale(0.975);
  }

}



